AUTH_SECRET="generate-with-node-e-console-log-require-crypto-randomBytes-32-toString-hex"
DATABASE_URL="postgresql://user:password@host:5432/astrapulse"
SITE_URL="https://astrapulse.codastralabs.com.np"
NODE_ENV="production"
